html {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}


h1, h2 {
    color: #1d3557;
}

body {
    background: #f1faee;

}


button {
    color: #457b9d;
    background: #a8dadc;
    border: none;
}


#signup {
    color: #a8dadc;
    background-color: #457b9d;
}

span {
    color: #457b9d;
}

.post a {
    color: #2a9d8f;
    font-weight: 700;
    text-decoration: none;
}

.tag {
    background-color: #a8dadc;
    font-size: 14px;
    border-radius: 1em;
    padding-inline: 0.5em;
    vertical-align: center;
}

h2 + button {
    font-size: 20px;
    color: white;
    border-radius: 0.3em;
    padding-inline: 0.5em;
    margin-left: 0.2em;
}

footer a {
    color: red;
}

footer > a {
    color: #bee1e6;
    text-decoration: none;
}

input[type="password"] {
    background-color: #dfe7fd;
}

a:hover {
    text-decoration: underline;
}

.post button:hover, h2 > span:hover {
    background-color: #2a9d8f;
    color: #f1faee;
}


.post:nth-child(2n){
    background-color: #c0c9bea6;
}

h2::first-letter {
    font-size: 50px;
}

::selection {
    background-color: #ffcdb2;
}