body {
    font-family: -apple-system, Roboto, 'Open Sans', sans-serif;
}

h1 {
    font-size: 3em;
    text-align: center;
}

nav {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}

ul {
    border: solid red;
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;
    
}

ul, li {
    display: inline;
    margin: 0;
    padding: 0;
}

/*
@media (min-width: 800px) {
    h1 {
        color: purple
    }
}

@media (min-width: 600px) and (max-width: 800px) {
    h1 {
        color: yellow
    }
}

@media (max-width: 600px) {
    h1 {
        color: green
    }
}

*/

@media (max-width: 768px){
    h1 {
        font-size: 4em;
    }
    
    nav, nav ul {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 576px){
    h1 {
        font-size: 2em
    }
}