h3 {
    color: indigo;
    background-color: orange;
    text-align: center;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 40px;
    font-family: Helvetica, sans-serif;
}

button {
    color: magenta;
    background-color: cyan;
}

p {
    color: olive;
    text-decoration: line-through blue wavy;
}

html{
    font-family: sans-serif;
}