div {
    width: 200px;
    height: 200px;
}

h1 {
    background-color: palegreen;
    padding-right: 50px;
    padding-left: 10px;
}

#one {
    background-color: paleturquoise;
    border-style: solid;
    border-width: 2px;

    /* border is included in overall content dimensions */
    box-sizing: border-box; 
}

#two {
    background-color:lightblue;

    /* width style color*/
    border: medium dashed green;
    border-left: thick solid darkgreen;
}

#three {
    background-color: lightsalmon;

    /* width style color*/
    border: medium dashed palegoldenrod;
    border-left: thick dotted goldenrod;

    /* this is now a circle hehe*/
    border-radius: 50% / 50%;
}